# Dependencies
node_modules/
api/node_modules/

# Build
dist/
build/

# Temp
tmp/
.temp/
.tmp/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.development
.env.test
.env.production
